<div id="card">

    <div id="cardinner">
	<h1>M&aelig;gan</h1>
	<h2 style="font-family: sans-serif !important;">me&#798;&#660;&#603;n</h2>
	<p>This is one of my middle names.</p>
	<p>It is not pronounced anything like how it is spelled.</p>
	<p>It is awesome.</p>
</div>
