<div id="card">
    <div id="cardinner">
        <h1>Lucy <abbr title="Yes, that technically makes my initials LMHAD, but LMHD rolls off the tongue better">M H A</abbr> Davies</h1>
        <h2>Professional Geek</h2>
        <p><%= @tdesc %></p>
    </div>
</div>

<div id="contact">
    <p><a style="color: white; text-decoration: none" href="mailto:lucymhdavies.com">lucy@lucymhdavies.com</a></p>
</div>


<div id="icons">
    <a class="sociallink" href="http://straw.be/linkedin"><img src="http://i.pdi.sk/CircleIcons/Circle%20Icons%20Pack/128x128/linkedin.png" /></a>
    <a class="sociallink" href="http://straw.be/github"><img src="http://i.pdi.sk/CircleIcons/Custom/github-128.png" /></a>
    <a class="sociallink" href="http://straw.be/twitter"><img src="http://i.pdi.sk/CircleIcons/Circle%20Icons%20Pack/128x128/twitter.png" /></a>
    <a class="sociallink" href="http://straw.be/facebook"><img src="http://i.pdi.sk/CircleIcons/Circle%20Icons%20Pack/128x128/fb.png" /></a>
</div>
